<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ss_map01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,1346},{506,334}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{506,334}}</string>
                <key>sourceSize</key>
                <string>{516,340}</string>
            </dict>
            <key>ss_map02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,1010},{506,334}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{506,334}}</string>
                <key>sourceSize</key>
                <string>{516,340}</string>
            </dict>
            <key>ss_map03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,1010},{506,334}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{506,334}}</string>
                <key>sourceSize</key>
                <string>{516,340}</string>
            </dict>
            <key>ss_map04.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1682},{506,334}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{506,334}}</string>
                <key>sourceSize</key>
                <string>{516,340}</string>
            </dict>
            <key>ss_map05.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1346},{506,334}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{506,334}}</string>
                <key>sourceSize</key>
                <string>{516,340}</string>
            </dict>
            <key>ss_map06.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1010},{506,334}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{506,334}}</string>
                <key>sourceSize</key>
                <string>{516,340}</string>
            </dict>
            <key>ss_map07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,674},{506,334}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{506,334}}</string>
                <key>sourceSize</key>
                <string>{516,340}</string>
            </dict>
            <key>ss_map08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,674},{506,334}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{506,334}}</string>
                <key>sourceSize</key>
                <string>{516,340}</string>
            </dict>
            <key>ss_map09.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,674},{506,334}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{506,334}}</string>
                <key>sourceSize</key>
                <string>{516,340}</string>
            </dict>
            <key>ss_map10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1682},{506,334}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{506,334}}</string>
                <key>sourceSize</key>
                <string>{516,340}</string>
            </dict>
            <key>ss_map11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1346},{506,334}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{506,334}}</string>
                <key>sourceSize</key>
                <string>{516,340}</string>
            </dict>
            <key>ss_map12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1010},{506,334}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{506,334}}</string>
                <key>sourceSize</key>
                <string>{516,340}</string>
            </dict>
            <key>ss_map13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{506,334}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{506,334}}</string>
                <key>sourceSize</key>
                <string>{516,340}</string>
            </dict>
            <key>ss_map14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,338},{506,334}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{506,334}}</string>
                <key>sourceSize</key>
                <string>{516,340}</string>
            </dict>
            <key>ss_map15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,338},{506,334}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{506,334}}</string>
                <key>sourceSize</key>
                <string>{516,340}</string>
            </dict>
            <key>ss_map16.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,338},{506,334}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{506,334}}</string>
                <key>sourceSize</key>
                <string>{516,340}</string>
            </dict>
            <key>ss_map17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{506,334}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{506,334}}</string>
                <key>sourceSize</key>
                <string>{516,340}</string>
            </dict>
            <key>ss_map18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,2},{506,334}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{506,334}}</string>
                <key>sourceSize</key>
                <string>{516,340}</string>
            </dict>
            <key>ss_map19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,2},{506,334}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{506,334}}</string>
                <key>sourceSize</key>
                <string>{516,340}</string>
            </dict>
            <key>ss_map20.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{506,334}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{506,334}}</string>
                <key>sourceSize</key>
                <string>{516,340}</string>
            </dict>
            <key>ss_map21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{506,334}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{506,334}}</string>
                <key>sourceSize</key>
                <string>{516,340}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stages_theme5-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ca9edd0413c3082359f4d63c5349c40$</string>
            <key>textureFileName</key>
            <string>stages_theme5-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
