<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ss_cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{960,128}}</string>
                <key>offset</key>
                <string>{0,-256}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,512},{960,128}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>ss_map22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,1636},{506,334}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{506,334}}</string>
                <key>sourceSize</key>
                <string>{516,340}</string>
            </dict>
            <key>ss_map23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,1636},{506,334}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{506,334}}</string>
                <key>sourceSize</key>
                <string>{516,340}</string>
            </dict>
            <key>ss_map24.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1636},{506,334}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{506,334}}</string>
                <key>sourceSize</key>
                <string>{516,340}</string>
            </dict>
            <key>ss_map25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,1300},{506,334}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{506,334}}</string>
                <key>sourceSize</key>
                <string>{516,340}</string>
            </dict>
            <key>ss_map26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,1300},{506,334}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{506,334}}</string>
                <key>sourceSize</key>
                <string>{516,340}</string>
            </dict>
            <key>ss_map27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1476},{506,334}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{506,334}}</string>
                <key>sourceSize</key>
                <string>{516,340}</string>
            </dict>
            <key>ss_map28.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1300},{506,334}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{506,334}}</string>
                <key>sourceSize</key>
                <string>{516,340}</string>
            </dict>
            <key>ss_map29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,964},{506,334}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{506,334}}</string>
                <key>sourceSize</key>
                <string>{516,340}</string>
            </dict>
            <key>ss_map30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,628},{506,334}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{506,334}}</string>
                <key>sourceSize</key>
                <string>{516,340}</string>
            </dict>
            <key>ss_map31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,964},{506,334}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{506,334}}</string>
                <key>sourceSize</key>
                <string>{516,340}</string>
            </dict>
            <key>ss_map32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{506,334}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{506,334}}</string>
                <key>sourceSize</key>
                <string>{516,340}</string>
            </dict>
            <key>ss_map33.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,964},{506,334}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{506,334}}</string>
                <key>sourceSize</key>
                <string>{516,340}</string>
            </dict>
            <key>ss_map34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{506,334}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{506,334}}</string>
                <key>sourceSize</key>
                <string>{516,340}</string>
            </dict>
            <key>ss_map35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1533,2},{506,334}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{506,334}}</string>
                <key>sourceSize</key>
                <string>{516,340}</string>
            </dict>
            <key>ss_map36.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,2},{506,334}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{506,334}}</string>
                <key>sourceSize</key>
                <string>{516,340}</string>
            </dict>
            <key>ss_map37.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,628},{506,334}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{506,334}}</string>
                <key>sourceSize</key>
                <string>{516,340}</string>
            </dict>
            <key>ss_map38.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,176},{506,334}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{506,334}}</string>
                <key>sourceSize</key>
                <string>{516,340}</string>
            </dict>
            <key>ss_map39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{506,334}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{506,334}}</string>
                <key>sourceSize</key>
                <string>{516,340}</string>
            </dict>
            <key>ss_map40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{506,334}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{506,334}}</string>
                <key>sourceSize</key>
                <string>{516,340}</string>
            </dict>
            <key>ss_map41.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,964},{506,334}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{506,334}}</string>
                <key>sourceSize</key>
                <string>{516,340}</string>
            </dict>
            <key>ss_map42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{506,334}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{506,334}}</string>
                <key>sourceSize</key>
                <string>{516,340}</string>
            </dict>
            <key>ss_map43.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,964},{506,334}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{506,334}}</string>
                <key>sourceSize</key>
                <string>{516,340}</string>
            </dict>
            <key>ss_map44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{506,334}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{506,334}}</string>
                <key>sourceSize</key>
                <string>{516,340}</string>
            </dict>
            <key>ss_map45.png</key>
            <dict>
                <key>frame</key>
                <string>{{1533,2},{506,334}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{506,334}}</string>
                <key>sourceSize</key>
                <string>{516,340}</string>
            </dict>
            <key>ss_towers_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1812},{227,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,9},{227,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,570},{287,56}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,9},{287,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1778,570},{227,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,9},{227,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1549,570},{227,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,9},{227,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,570},{461,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,9},{461,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,512},{343,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,9},{343,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1363,454},{343,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,9},{343,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,862},{285,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,9},{285,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,1972},{169,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,9},{169,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,512},{461,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,9},{461,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,1972},{169,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,9},{169,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1607,512},{227,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,9},{227,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,1972},{113,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,9},{113,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,454},{343,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,9},{343,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,338},{403,56}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,9},{403,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,1972},{113,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,9},{113,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1928},{225,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,9},{225,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1423,338},{345,56}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,9},{345,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,804},{285,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,9},{285,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1986},{171,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,9},{171,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,454},{227,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,9},{227,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1972},{171,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,9},{171,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,1870},{225,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,9},{225,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,1972},{113,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,9},{113,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,862},{113,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,9},{113,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1836,512},{173,56}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,9},{173,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,1928},{171,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,9},{171,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,804},{113,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,9},{113,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1870},{225,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,9},{225,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,570},{285,56}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,9},{285,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,512},{287,56}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,9},{287,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,1986},{169,56}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,9},{169,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,118},{513,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{513,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,60},{513,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{513,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{513,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{513,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{1363,396},{343,56}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,9},{343,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{1770,338},{227,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,9},{227,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,396},{343,56}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,9},{343,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,1812},{225,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,9},{225,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,396},{227,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,9},{227,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,512},{287,56}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,9},{287,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,1986},{169,56}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,9},{169,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,118},{513,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{513,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,60},{513,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{513,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{513,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{513,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stages_theme52-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12c0826dab560e0660ad1335227d8965$</string>
            <key>textureFileName</key>
            <string>stages_theme52-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
