<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theend2_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>theend2_bg_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,2},{726,534}}</string>
                <key>offset</key>
                <string>{28,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,63},{726,534}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>theend2_bg_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,538},{720,526}}</string>
                <key>offset</key>
                <string>{21,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,68},{720,526}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>theend2_bg_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{726,534}}</string>
                <key>offset</key>
                <string>{28,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,63},{726,534}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>theend2_close_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,964},{68,68}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,3},{68,68}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>theend2_close_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,964},{68,68}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,3},{68,68}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>theend2_tweibo_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{94,96}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,31},{94,96}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>theend2_tweibo_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,880},{138,132}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{138,132}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>theend2_wechat_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,730},{102,102}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,25},{102,102}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>theend2_wechat_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,730},{102,102}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,25},{102,102}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>theend2_wechat_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,880},{134,138}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{134,138}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>theend2_weibo_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,730},{108,108}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{108,108}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>theend2_weibo_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,730},{148,140}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,140}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TheEnd2-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1908,1066}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc4f69d33d5a2cde7f43c52c2051247c$</string>
            <key>textureFileName</key>
            <string>TheEnd2-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
