<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme_pack01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{650,512}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,18},{650,512}}</string>
                <key>sourceSize</key>
                <string>{720,530}</string>
            </dict>
            <key>theme_pack02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,2},{668,514}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,16},{668,514}}</string>
                <key>sourceSize</key>
                <string>{720,530}</string>
            </dict>
            <key>theme_pack03.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,2},{668,512}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,18},{668,512}}</string>
                <key>sourceSize</key>
                <string>{720,530}</string>
            </dict>
            <key>theme_pack04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{660,514}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,16},{660,514}}</string>
                <key>sourceSize</key>
                <string>{720,530}</string>
            </dict>
            <key>theme_pack05.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,516},{628,524}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,6},{628,524}}</string>
                <key>sourceSize</key>
                <string>{720,530}</string>
            </dict>
            <key>theme_pack06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,518},{668,526}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,3},{668,526}}</string>
                <key>sourceSize</key>
                <string>{720,530}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>themescene2-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50aec61abda6bb94d30fc61b24fdf199$</string>
            <key>textureFileName</key>
            <string>themescene2-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
